<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Condição do Mar</title>
		<link rel='stylesheet' href='css/grid.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />		
	</head>
	<body>
		<div class="container_8">
			
			<div id="message" class="grid_8 alpha omega">
				<div class="error">
					<div class="title">Oops!</div>
					Não existem cidades cadastradas e nem fotos atualizadas para esse estado ainda.
				</div>
			</div>
			
			
			<div id="message" class="grid_8 alpha omega">
				<div class="success">
					<div class="title">Oops!</div>
					Não existem cidades cadastradas e nem fotos atualizadas para esse estado ainda.
				</div>
			</div>
			
			<div id="message" class="grid_8 alpha omega">
				<div class="info">
					<div class="title">Oops!</div>
					Não existem cidades cadastradas e nem fotos atualizadas para esse estado ainda.
				</div>
			</div>

			
		</div>
	</body>
</html>