<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Condição do Mar</title>
		<link rel='stylesheet' href='css/grid.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />		
	</head>
	<body>
		<div class="container_8">
			
			<div id="header" class="grid_8 alpha omega">
				<h1>Alagoas</h1>
			</div>
			<div class="clear"></div>
			
			<div id="map" class="grid_8 alpha omega">
				mapa
			</div>
			<div class="clear"></div>
			
			<div id="list">
				
				<ul class="city_list">
					<li class="title">Maceió</li>
					<li><a href="#">Solares</a></li>
					<li><a href="#">Jacarecica</a></li>
					<li><a href="#">Posto 7</a></li>
					<li><a href="#">Pontal</a></li>
				</ul>
				
				<ul class="city_list">
					<li class="title">Marechal Deodoro</li>
					<li><a href="#">Solares</a></li>
					<li><a href="#">Jacarecica</a></li>
					<li><a href="#">Posto 7</a></li>
					<li><a href="#">Pontal</a></li>
				</ul>
				
				<ul class="city_list">
					<li class="title">Pontal de coruripe</li>
					<li><a href="#">Solares</a></li>
					<li><a href="#">Jacarecica</a></li>
					<li><a href="#">Posto 7</a></li>
					<li><a href="#">Pontal</a></li>
				</ul>
				
			</div>
			
		</div>
	</body>
</html>