<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Condição do Mar</title>
		<link rel='stylesheet' href='css/grid.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />		
	</head>
	<body>
		<div class="container_8">
			
			<div id="map" class="grid_8 alpha omega">
				mapa
			</div>
			<div class="clear"></div>
			
			<div id="list">
				
				<ul class="city_list">
					<li class="title">Maceió</li>
					<li>
						<a href="#">Solares</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="#">Pontal</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>	
					<li>
						<a href="#">Jacarecica</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>				
					
				</ul>
								
				
				
				<ul class="city_list">
					<li class="title">Marechal Deodoro</li>
					<li>
						<a href="#">Solares</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="#">Pontal</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>	
					<li>
						<a href="#">Jacarecica</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>				
					
				</ul>
				
				
			</div>
			
		</div>
	</body>
</html>