<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Condição do Mar</title>
		<link rel='stylesheet' href='css/grid.css' type='text/css' media='all' />
		<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />		
	</head>
	<body>
		<div class="container_8">
			
			<div id="map" class="grid_8 alpha omega">
				mapa
			</div>
			<div class="clear"></div>
			
			<div id="list">
				
				<ul class="city_list">
					<li class="title">Maceió</li>
					<li class="weather">
						<img src="http://dummyimage.com/40x40/CCC/fff.png&text=a" alt="Nublado" />
						Nublado, 20C<br>
						Vento: NO a 11Kh/h, Umidade: 83%
					</li>
					<li>
						<a href="#">Solares</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="#">Pontal</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>	
					<li>
						<a href="#">Jacarecica</a>						
						<ul class="pico_thumbs">
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/thumb.png" alt="" />
								</a>
							</li>
						</ul>						
					</li>				
					
				</ul>
				
				
					<ul class="city_list">
						<li class="title">Marechal</li>
						<li class="weather">
							<img src="http://dummyimage.com/40x40/CCC/fff.png&text=a" alt="Nublado" />
							Nublado, 20C<br>
							Vento: NO a 11Kh/h, Umidade: 83%
						</li>
						<li>
							<a href="#">Solares</a>						
							<ul class="pico_thumbs">
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
							</ul>						
						</li>
						<li>
							<a href="#">Pontal</a>						
							<ul class="pico_thumbs">
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
							</ul>						
						</li>	
						<li>
							<a href="#">Jacarecica</a>						
							<ul class="pico_thumbs">
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/thumb.png" alt="" />
									</a>
								</li>
							</ul>						
						</li>				

					</ul>
				
				
			
				
			</div>
			
		</div>
		
		<div id="fb-root"></div>
		       <script>
		           window.fbAsyncInit = function() {
		               FB.init({appId: "174717269243992",
		                                  status: true,
		                                  cookie: true,
		                                  xfbml: true});

		               FB.Canvas.setAutoResize(); 
		           };
		           (function() {
		               var e = document.createElement('script'); e.async = true;
		               e.src = document.location.protocol +
		                   '//connect.facebook.net/en_US/all.js';
		               document.getElementById('fb-root').appendChild(e);
		           }());
		       </script>
	</body>
</html>